<?xml version="1.0"?>
<launch>
  <master auto="start"/>
  <arg name="model" default="$(find p3dx_description)/urdf/pioneer3dx.xml"/>
  <param name="robot_description" textfile="$(arg model)" />

<!--- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server"
	  args="$(find rc_simul_worlds)/maps/S63/S63.pgm 0.02" respawn="false"/> 

	  
 <node type="rviz" name="rviz" pkg="rviz" args="-d $(find rc_amcl)/rviz/nav_p3dx.rviz" /> 

 <node pkg="rosbag" type="play" name="player" output = "screen" args="--clock -d 1 -r 4 --loop $(find rc_amcl)/rosbags/odom_scan_S63.bag" /> 
 
 <include file="$(find rc_amcl)/launch/amcl_no_random_walk.launch"> <!--- lança a pose inicial do robô, ou seja, sabe-se a posição inicial -->
   <arg name="x0" value="0.968" />
   <arg name="y0" value="2.551" />
   <arg name="a0" value="1.553" /> <!--- ângulo azimute -->
 </include>
	  
</launch>
