<?xml version="1.0"?>
<launch>
    <!-- lançamento do mapa em simulador Gazebo -->
    <include file="$(find patrol)/launch/museum_exploration.launch">
        <arg name="world_name" value="$(find patrol)/world/museum_base.world"/>
        <arg name="x_pos" default="0.0"/>
        <arg name="y_pos" default="0.0"/>
        <arg name="z_pos" default="0.0"/>
    </include>

    <!-- lançamento do algoritmo SLAM GMapping -->
    <include file="$(find rc_gmapping)/launch/gmapping.launch"/>

    <!-- lançamento do move_base, para trajetórias e costmaps-->
    <include file="$(find patrol)/launch/move_base_exploration.launch"/>

</launch>
