<?xml version="1.0"?>
<launch>
  <master auto="start"/>
  <arg name="model" default="$(find p3dx_description)/urdf/pioneer3dx.xml"/>
  <param name="robot_description" textfile="$(arg model)" />
  <arg name="rosbag_filename" default="scan-point_cloud-S63" />

<!-- GMAPPING -->
    <param name="use_sim_time" value="true"/>
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
      <!--<remap from="scan" to="base_scan"/>-->
	<param name="throttle_scans" value="10"/><!--1-->
      <param name="map_update_interval" value="2.5"/> <!--5.0 1.0 -->
      <param name="maxUrange" value="6.0"/> <!--16-->
      <param name="sigma" value="0.05"/>
      <param name="kernelSize" value="1"/>
      <param name="lstep" value="0.05"/>
      <param name="astep" value="0.05"/>
      <param name="iterations" value="5"/>	<!--5-->
      <param name="lsigma" value="0.075"/>
      <param name="ogain" value="3.0"/>
      <param name="lskip" value="1"/>	<!--fazer skip a beams do laser -->
      <param name="srr" value="0.1"/>
      <param name="srt" value="0.2"/>
      <param name="str" value="0.1"/>
      <param name="stt" value="0.2"/>
      <param name="linearUpdate" value="1.0"/> <!--1.0-->
      <param name="angularUpdate" value="0.5"/>
      <param name="temporalUpdate" value="3.0"/>
      <param name="resampleThreshold" value="0.5"/>
      <param name="particles" value="30"/> <!--30 100-->
      <param name="xmin" value="-1.0"/>
      <param name="ymin" value="-1.0"/>
      <param name="xmax" value="2.0"/>
      <param name="ymax" value="3.0"/>
      <param name="delta" value="0.02"/> <!-- 0.05-->
      <param name="llsamplerange" value="0.01"/>
      <param name="llsamplestep" value="0.01"/>
      <param name="lasamplerange" value="0.005"/>
      <param name="lasamplestep" value="0.005"/>
    </node>

<!-- octrees com rgb-d -->
    <node pkg="octomap_server" type="octomap_server_node" name="octomap_server_node" output="screen" >
      <remap from="cloud_in" to="astra/depth_registered/points_throttled"/> <!--remapeia-se o tópico que o nodo vai ler. em vez de ser o default, é aquele.-->
  <param name="resolution" value="0.05"/> <!--resolucao aka tamanho de cada cubo-->
      <param name="frame_id" value="map"/>
      <param name="sensor_model/max_range" value="5.0"/> <!--limitação do range do sensor, diminui o peso computacional-->
    </node>


  <include file="$(find p3dx_description)/launch/p3dx_description.launch">
   <arg name="tf_prefix" value="" />
  </include>

  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find rc_gmapping)/rviz/octomap_gmapping_from_rosbag.rviz" />


  <node pkg="rosbag" type="play" name="player" output="screen" args="--clock -d3 -r 1 $(find rc_gmapping)/rosbags/$(arg rosbag_filename).bag" />

</launch>
