<?xml version="1.0"?>
<launch>
    <remap from="/image" to="/camera/rgb/image_raw"/>
    <!-- <node pkg="map_server" type="map_server" name="map_server" args="$(find patrol)/world/building.yaml"/> -->
    <!-- <include file="$(find patrol)/launch/amcl.launch">
        <arg name="initial_pose_x" default="-7.0"/>
        <arg name="initial_pose_y" default="-2.5"/>
        <arg name="initial_pose_a" default="0.0"/>
    </include> -->
    <include file="$(find rc_gmapping)/launch/gmapping.launch"/>
    <include file="$(find patrol)/launch/move_base.launch"/>
    <include file="$(find patrol)/launch/museum_small.launch"/> <!--liga o Gazebo-->
</launch>
