<?xml version="1.0"?>
<launch>
  <master auto="start"/>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="ns1" default="turtle1"/>
  <arg name="ns2" default="turtle2"/>
  <arg name="ns3" default="turtle3"/>
  <arg name="ns4" default="turtle4"/>
  <arg name="ns5" default="turtle5"/>
  <arg name="ns6" default="turtle6"/>
  <arg name="ns7" default="turtle7"/>
  <arg name="ns8" default="turtle8"/>
  
<!--  <param name="/use_sim_time" value="true" />-->

  <include file="$(find rc_simul_worlds)/launch/8turtlebot3_gazebo_building.launch">
    <arg name="ns1" value="$(arg ns1)"/>
    <arg name="ns2" value="$(arg ns2)"/>
    <arg name="ns3" value="$(arg ns3)"/>
    <arg name="ns4" value="$(arg ns4)"/>
    <arg name="ns5" value="$(arg ns5)"/>
    <arg name="ns6" value="$(arg ns6)"/>
    <arg name="ns7" value="$(arg ns7)"/>
    <arg name="ns8" value="$(arg ns8)"/>
  </include>

  <node name="map_server" pkg="map_server" type="map_server"
	  args="$(find rc_simul_worlds)/maps/building/building.png 0.025" respawn="false"/>
	  
  <node pkg="rviz" type="rviz" name="rviz"
  	args="-d $(find random_walk)/rviz_configs/gazebo_8turtlebot_building.rviz"
  />
	  
  <group ns="$(arg ns1)">
    <include file="$(find random_walk)/launch/random_walk.launch" >
      <arg name="ns" value="$(arg ns1)/" />
      <arg name="max_linear_speed" value="0.5" />
      <arg name="max_angular_speed" value="2.0" />
      <arg name="safe_dist_th" value="1.0" />
      <arg name="detour_obst_th" value="0.75" />
      <arg name="stop_dist_th" value="0.5" />
      <arg name="diff_th" value="0.1" />
    </include> 
  </group>

  <group ns="$(arg ns2)">
    <include file="$(find random_walk)/launch/random_walk.launch" >
      <arg name="ns" value="$(arg ns2)/" />
      <arg name="max_linear_speed" value="0.5" />
      <arg name="max_angular_speed" value="2.0" />
      <arg name="safe_dist_th" value="1.0" />
      <arg name="detour_obst_th" value="0.75" />
      <arg name="stop_dist_th" value="0.5" />
      <arg name="diff_th" value="0.1" />
    </include>   
  </group>

  <group ns="$(arg ns3)">
    <include file="$(find random_walk)/launch/random_walk.launch" >
      <arg name="ns" value="$(arg ns3)/" />
      <arg name="max_linear_speed" value="0.5" />
      <arg name="max_angular_speed" value="2.0" />
      <arg name="safe_dist_th" value="1.0" />
      <arg name="detour_obst_th" value="0.75" />
      <arg name="stop_dist_th" value="0.5" />
      <arg name="diff_th" value="0.1" />
    </include>   
  </group>

  <group ns="$(arg ns4)">
    <include file="$(find random_walk)/launch/random_walk.launch" >
      <arg name="ns" value="$(arg ns4)/" />
      <arg name="max_linear_speed" value="0.5" />
      <arg name="max_angular_speed" value="2.0" />
      <arg name="safe_dist_th" value="1.0" />
      <arg name="detour_obst_th" value="0.75" />
      <arg name="stop_dist_th" value="0.5" />
      <arg name="diff_th" value="0.1" />
    </include>   
  </group>

  <group ns="$(arg ns5)">
    <include file="$(find random_walk)/launch/random_walk.launch" >
      <arg name="ns" value="$(arg ns5)/" />
      <arg name="max_linear_speed" value="0.5" />
      <arg name="max_angular_speed" value="2.0" />
      <arg name="safe_dist_th" value="1.0" />
      <arg name="detour_obst_th" value="0.75" />
      <arg name="stop_dist_th" value="0.5" />
      <arg name="diff_th" value="0.1" />
    </include>   
  </group>

  <group ns="$(arg ns6)">
    <include file="$(find random_walk)/launch/random_walk.launch" >
      <arg name="ns" value="$(arg ns6)/" />
      <arg name="max_linear_speed" value="0.5" />
      <arg name="max_angular_speed" value="2.0" />
      <arg name="safe_dist_th" value="1.0" />
      <arg name="detour_obst_th" value="0.75" />
      <arg name="stop_dist_th" value="0.5" />
      <arg name="diff_th" value="0.1" />
    </include>   
  </group>

  <group ns="$(arg ns7)">
    <include file="$(find random_walk)/launch/random_walk.launch" >
      <arg name="ns" value="$(arg ns7)/" />
      <arg name="max_linear_speed" value="0.5" />
      <arg name="max_angular_speed" value="2.0" />
      <arg name="safe_dist_th" value="1.0" />
      <arg name="detour_obst_th" value="0.75" />
      <arg name="stop_dist_th" value="0.5" />
      <arg name="diff_th" value="0.1" />
    </include>   
  </group>

  <group ns="$(arg ns8)">
    <include file="$(find random_walk)/launch/random_walk.launch" >
      <arg name="ns" value="$(arg ns8)/" />
      <arg name="max_linear_speed" value="0.5" />
      <arg name="max_angular_speed" value="2.0" />
      <arg name="safe_dist_th" value="1.0" />
      <arg name="detour_obst_th" value="0.75" />
      <arg name="stop_dist_th" value="0.5" />
      <arg name="diff_th" value="0.1" />
    </include>   
  </group>

</launch>

