<?xml version="1.0"?>
<launch>
  <!-- arguments -->
  <arg name="prior_map" default="CurrentWorld"/>
  <arg name="algorithm" default="Cyclic"/>
  <arg name="nrobots" value="1"/>

  <!-- launch patrol behaviors -->
    <arg name="robotindex" value="-1"/> 
    <arg name="robotname" value="robot_$(arg robotindex)"/>
    
    <node pkg="patrolling_sim" type="$(arg algorithm)" name="$(arg algorithm)" output="screen" args="$(arg robotname) $(arg prior_map) $(arg robotindex) $(arg nrobots)" respawn="false" >
  		<param name="initial_pos_x" value="0.0"/>
  		<param name="initial_pos_y" value="0.0"/>

      <!-- <remap from="$(arg algorithm)/$(arg robotname)/cmd_vel" to="/cmd_vel"/>
      <remap from="$(arg algorithm)/$(arg robotname)/odom" to="/odom"/>
      <remap from="$(arg robotname)/move_base/cancel" to="/move_base/cancel"/>
      <remap from="$(arg robotname)/move_base/goal" to="/move_base/goal"/>
      <remap from="$(arg robotname)/move_base/feedback" to="/move_base/feedback"/>
      <remap from="$(arg robotname)/move_base/result" to="/move_base/result"/>
      <remap from="$(arg robotname)/move_base/status" to="/move_base/status"/>
      <remap from="$(arg algorithm)/positions" to="/positions"/>
      <remap from="$(arg algorithm)/results" to="/results"/> -->
  	</node>

</launch>
