<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <!-- argumentos que definem a posição do robô -->
    <arg name="initial_pos_x" default="0.0"/>
    <arg name="initial_pos_y" default="0.0"/>
    <arg name="initial_pos_yaw" default="0.0"/>

    <!-- argumento que define se se está em modo de simulação ou não -->
    <arg name="simulation_mode" default="true"/>


    <!--////////////////////////////////////////////////////////////-->
    
    <!-- lançamento do AMCL para localização do robô -->
    <include file="$(find patrol)/launch/amcl.launch">
      <arg name="initial_pose_x" value="$(arg initial_pos_x)"/>
      <arg name="initial_pose_y" value="$(arg initial_pos_y)"/>
      <arg name="initial_pose_a" value="$(arg initial_pos_yaw)"/>
    </include>

    <!-- lançamento do move_base para movimentação do robô -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <remap from="map" to="/map" />

      <!-- definição para se utilizar o planeador especificado -->
      <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
      
      <!-- definição dos parâmetros necessários ao move_base -->
      <rosparam if="$(eval simulation_mode)" file="$(find patrol)/param/costmap_common_params_sim.yaml" command="load" ns="global_costmap" />
      <rosparam if="$(eval simulation_mode)" file="$(find patrol)/param/costmap_common_params_sim.yaml" command="load" ns="local_costmap" />
      <rosparam unless="$(eval simulation_mode)" file="$(find patrol)/param/costmap_common_params_real.yaml" command="load" ns="global_costmap" />
      <rosparam unless="$(eval simulation_mode)" file="$(find patrol)/param/costmap_common_params_real.yaml" command="load" ns="local_costmap" />

      <rosparam if="$(eval simulation_mode)" file="$(find patrol)/param/dwa_local_planner_params_sim.yaml" command="load" />
      <rosparam unless="$(eval simulation_mode)" file="$(find patrol)/param/dwa_local_planner_params_real.yaml" command="load"  />

      <rosparam file="$(find patrol)/param/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find patrol)/param/global_costmap_params.yaml" command="load" />
      <rosparam file="$(find patrol)/param/move_base_params.yaml" command="load" />
      
      <param name="DWAPlannerROS/yaw_goal_tolerance" value="3.14" /> <!-- ignore yaw information in goal pose -->

    </node>

</launch>

