<?xml version="1.0"?>
<launch>
  <!-- argumentos -->
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="prior_map" default="CurrentWorld"/>
  <arg name="algorithm" default="Cyclic"/>
  <arg name="nrobots" value="1"/>
  <arg name="ns1" value="robot_0" />

  <!-- posição inicial -->
  <arg name="initial_x" value="0.0" />
  <arg name="initial_y" value="0.0" />
  <arg name="initial_yaw" value="0.0" />

  <!-- parâmetros globais -->
  <param name="/use_sim_time" value="true"/>
  <param name="/goal_reached_wait" value="0.1"/>
  <param name="/communication_delay" value="0.1"/>
  <param name="/lost_message_rate" value="0"/>
  <param name="/initial_positions" value="[$(arg initial_x), $(arg initial_y)]"/>
  <param name="/navigation_module" value="ros"/>
  
  <!-- lançamento do mapa em Gazebo -->
  <include file="$(find patrolling_sim)/launch/gazebo_map.launch">
  	<arg name="ns1" default="$(arg ns1)"/>
    <arg name="world_name" default="$(arg prior_map)"/>

    <arg name="x1_pos" value="$(arg initial_x)"/>
    <arg name="y1_pos" value="$(arg initial_y)"/>
    <arg name="yaw1_angle" value="$(arg initial_yaw)"/>
  </include>

  <!-- nodo de monitorização, necessário para a patrulha -->
  <node pkg="patrolling_sim" type="monitor" name="monitor" args="$(arg prior_map) $(arg algorithm) $(arg nrobots)" respawn="false"/>

  <!-- carrega o mapa gravado anteriormente -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find patrol)/world/$(arg prior_map)/$(arg prior_map).yaml"/>

  <!-- lançamento do move_base e do amcl -->
  <include file="$(find patrolling_sim)/launch/move_base_amcl.launch">
    <arg name="robotname" value="$(arg ns1)" />
    <arg name="initial_pos_x" default="$(arg initial_x)"/>
    <arg name="initial_pos_y" default="(arg initial_y)"/>
    <arg name="initial_pos_yaw" default="(arg initial_yaw)"/>
  </include>

  <!-- lançamento do visualizador rviz -->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find patrolling_sim)/rviz_configs/gazebo_1r5.rviz" >
    <!-- os pointers do rviz afetam o robot_0 -->
    <remap from="move_base_simple/goal" to="/$(arg ns1)/move_base_simple/goal"/>
  </node>

  <!-- lançamento do algoritmo de patrulha -->
  <include file="$(find patrolling_sim)/launch/algorithm_patrol.launch">
    <arg name="prior_map" value="$(arg prior_map)"/>
    <arg name="algorithm" value="$(arg algorithm)"/>
  </include>

</launch>
