<?xml version="1.0"?>
<launch>
  <!-- argumentos que definem o nome do mapa, o algoritmo de patrulha a usar e o número de robôs -->
  <arg name="prior_map" default="CurrentWorld"/>
  <arg name="algorithm" default="Heuristic_Conscientious_Reactive"/>
  <arg name="nrobots" value="1"/>

  <!-- posição inicial -->
  <arg name="initial_x" value="0.0" />
  <arg name="initial_y" value="0.0" />
  <arg name="initial_yaw" value="0.0" />

  <!-- parâmetros globais -->
  <param name="/use_sim_time" value="true"/>
  <param name="/goal_reached_wait" value="0.1"/>
  <param name="/communication_delay" value="0.1"/>
  <param name="/lost_message_rate" value="0"/>
  <param name="/initial_positions" value="[$(arg initial_x), $(arg initial_y)]"/>
  <param name="/navigation_module" value="ros"/>
  

  <!--////////////////////////////////////////////////////////////-->

  <!-- lançamento do mapa em Gazebo -->
  <include file="$(find patrol)/launch/museum_gazebo.launch">
    <arg name="world_name" value="$(arg prior_map)"/>
    <arg name="x_pos" value="$(arg initial_x)"/>
    <arg name="y_pos" value="$(arg initial_y)"/>
    <arg name="yaw1_angle" value="$(arg initial_yaw)"/>
  </include>

  <!-- nodo de monitorização, necessário para a patrulha -->
  <node pkg="patrolling_sim" type="monitor" name="monitor" args="$(arg prior_map) $(arg algorithm) $(arg nrobots)" respawn="false"/>

  <!-- carrega o mapa gravado anteriormente -->
  <node name="rc_map_server" pkg="map_server" type="map_server" args="$(find patrol)/world/$(arg prior_map)/$(arg prior_map).yaml"/>

  <!-- lançamento do move_base e do amcl -->
  <include file="$(find patrolling_sim)/launch/move_base_amcl.launch">
    <arg name="initial_pos_x" value="$(arg initial_x)"/>
    <arg name="initial_pos_y" value="$(arg initial_y)"/>
    <arg name="initial_pos_yaw" value="$(arg initial_yaw)"/>
    <arg name="simulation_mode" value="true"/>
  </include>

  <!-- lançamento do visualizador rviz -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find patrol)/rviz/patrol_rviz.rviz"/>

  <!-- lançamento do algoritmo de patrulha -->
  <include file="$(find patrolling_sim)/launch/algorithm_patrol.launch">
    <arg name="prior_map" value="$(arg prior_map)"/>
    <arg name="algorithm" value="$(arg algorithm)"/>
    <arg name="initial_pos_x" value="$(arg initial_x)"/>
    <arg name="initial_pos_y" value="$(arg initial_y)"/>
  </include>

</launch>
